#list-container {
    margin: 10px;
}

.card-form {
    display: inline;
}

#card-container {
    margin: 10px;
}

#form-container {
    padding: 10px;
    margin: 10px;
}

#cancel-button {
    margin-top: 10px;
}

#post-list {
    padding: 0;
}

#posts-title {
    padding-left: 20px;
}

#post-container {
    margin: 10px;
}

#page-title, #page-subtitle, #all-users-btn {
    margin: 10px;
}

#home-flash {
    width: 600px;
    margin: 10px;
}