{% extends 'base.html' %}

{% block title %}Blogly{% endblock %}

{% block content %}
<h1 class="card-title" id="page-title">Blogly Home</h1>
<a href="/users" class="btn btn-primary" id="all-users-btn">See All Users</a>
<a href="/tags" class="btn btn-primary" id="all-users-btn">See All Tags</a>
{% for msg in get_flashed_messages() %}
<div class="alert alert-success" role="alert" id="home-flash">{{ msg }}</div>
{% endfor %}
{% if posts %}
{% for post in posts %}
<div class="card" style="width: 600px;" id="post-container">
    <div class="card-body">
        <h5 class="card-title"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">by <a
                href="/users/{{ post.poster.id }}">{{ post.poster.get_full_name() }}</a></h6>
        <h6 class="card-subtitle mb-2 text-muted"><em>posted {{ post.format_date('created') }}</em></h6>
        <h6 class="card-subtitle mb-2 text-muted"><em>last updated {{ post.format_date('updated') }}</em></h6>
        <p class="card-text">{{ post.content }}</p>
        <b>Tags:</b>{% for tag in post.tags %}&nbsp;<span class="badge badge-primary">{{ tag.name }}</span>{% endfor %}
        <span class="badge badge-secondary">add new</span>
    </div>
    <div class="card-body">
        <form action="/posts/{{ post.id }}/edit" class="card-form">
            <button type="submit" class="btn btn-primary">Edit Post</button>
        </form>
        <form action="/posts/{{ post.id }}/delete/home" method="POST" class="card-form">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<h3 class="card-title" id="page-subtitle">No posts yet!</h3>
{% endif %}
{% endblock %}