{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card" style="width: 600px;" id="post-container">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endfor %}
        <h6 class="card-subtitle mb-2 text-muted">by
            <a href="/users/{{ post.poster.id }}">{{ post.poster.get_full_name() }}</a></h6>
        <h6 class="card-subtitle mb-2 text-muted"><em>posted {{ post.format_date('created') }}</em></h6>
        <h6 class="card-subtitle mb-2 text-muted"><em>last updated {{ post.format_date('updated') }}</em></h6>
        <p class="card-text">{{ post.content }}</p>
        <b>Tags:</b>{% for tag in post.tags %}&nbsp;<span class="badge badge-primary">
            <a href="/tags/{{ tag.id }}" class="tag-link">{{ tag.name }}</a></span>{% endfor %}
    </div>
    <div class="card-body">
        <form action="/posts/{{ post.id }}/edit" class="card-form">
            <button type="submit" class="btn btn-primary">Edit Post</button>
        </form>
        <form action="/posts/{{ post.id }}/delete/post" method="POST" class="card-form">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
        <form action="/users/{{ post.poster.id }}" class="card-form">
            <button type="submit" class="btn btn-success">Back to {{ post.poster.get_full_name() }}</button>
        </form>
    </div>
</div>
{% endblock %}